<div id="body-container">

	<div id="head-positioner">
		<h1>Startup House Vounce</h1>
	</div>

	<div class="container">
		<div class="video">
			<video controls >
		</div>
			
		<div class="visitors">
			<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash4/370784_618005326_211521694_q.jpg">
		</div>
	</div>

	<div class="thumbnails">
	</div>
	
</div>

